@import url('https://fonts.googleapis.com/css?family=VT323');

body {
    background: gray;
    text-align: center;
    font-family: 'VT323', monospace;
}

.clock-area {
    background: ghostwhite;
    width: 50%;
    margin: 0 auto;
    margin-top: 80px;
    padding: 5%;
    border-radius: 1px;
}

.clock {
    background: lightgray;
    width: 100%;
    margin: 0 auto;
    padding: 5% 0% 5% 0%;
    text-align: center;
    border-radius: 5px;
}

.clock-display {
    font-size: -webkit-xxx-large;
}

.message-area {
    font-size: -webkit-xxx-large;
    display: block;
    margin: 5%;
}